.App {
  margin: 150px auto 0 auto;
  width: 600px;
  text-align: center;
}

.TypeAheadDropdown {
  width: 100%;
  border: 1px solid grey;
  margin: 20px;
}
.TypeAheadDropdown input {
  width: 100%;
  border: none;
  padding: 10px 5px;
  outline: none;
}
.TypeAheadDropdown ul::before {
  content: "";
}
.TypeAheadDropdown ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.TypeAheadDropdown li:hover {
  background: lightgray;
}
.TypeAheadDropdown li {
  padding: 10px 5px;
  cursor: pointer;
}
